extends layout 

block content 
    form(id='form' method='post' action='/edit/' + login.id)
        p Username
            input(type='text' name='username' value=login.Name) 
        p Password 
            input(type='password' name='password')
        p Email 
            input(type='text' name='email' value=login.Email)
        p Age 
            input(type='age' name='age' value=login.Age)
        p Do you like blue?
            select(type='text' name='answerOne')
                option(value='All of Yes') All of Yes
                option(value='I cannot see blue') I cannot see blue
                option(value=`It's pretty cool`) It's pretty cool
                option(value=`I'm wrong`) I'm wrong
        p Do you like chicken?
            select(type='text' name='answerTwo')
                option(value='Yes') Yes
                option(value='No') No
                option(value='Im Vegan, Ew') Im Vegan, Ew
                option(value='Whats chicken?') Whats chicken?
        p What do you think about clowns?
            select(type='text' name='answerThree')
                option(value='They are pretty cool') They are pretty cool
                option(value='They are meh') They are meh
                option(value='They are spawns of Satan') They are spawns of Satan
                option(value='You mean like Ronald McDonald?') You mean like Ronald McDonald?
        input(type='submit' value='Edit user')